h1 {
	text-align: center;
	display: block;
	outline: #111;
	outline-style: double;
	background-color: rgb(179, 174, 174);
	
}

body {
  background-color: LightGrey;
  font-family: sans-serif;
  width: 80%;
  margin: auto;
}

img {
  width: 80%;
  height: 100%;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

video {
	margin-left: auto;
    margin-right: auto;
	display: block;
	text-align: center;
}

